<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <h1 class="text-white">STRIPE</h1>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%=@event.title%></h5>
          <p class="card-text"><%=@event.description%></p>
          <blockquote><footer class="blockquote-footer mb-0">By :<cite title="Source Title"><%=@event.user.email%></cite></footer></blockquote>
            
          
          <%= form_tag event_attendances_path do %>
            <article>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Amount:<%= @amount %>$</span>
              </label>
            </article><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Pay for event"
                data-amount="500"
                data-locale="auto">
            </script>
            <% end %>
            

        </div>
      </div>
    </div>
  </div>
</div>